<section data-ng-controller="ModelsController" data-ng-init="find()">
    <div class="page-header">
        <h1>Models</h1>
    </div>
    <div class="list-group">
        <a data-ng-repeat="model in models" data-ng-href="#!/models/{{model._id}}" class="list-group-item">
			<small class="list-group-item-text">
				Posted on
				<span data-ng-bind="model.created | date:'medium'"></span>
				by
				<span data-ng-bind="model.user.displayName"></span>
			</small>
			<h4 class="list-group-item-heading" data-ng-bind="model.name"></h4>
        </a>
    </div>
    <div class="alert alert-warning text-center" data-ng-hide="!models.$resolved || models.length">
    	No Models yet, why don't you <a href="/#!/models/create">create one</a>?
    </div>
</section>