<section data-ng-controller="ProductsController" data-ng-init="findCategories()">

    <div class="page-header">
        <h1>New Product</h1>
    </div>
	<form class="form-horizontal" data-ng-submit="create()" novalidate name="myForm">

	<!-------------------------------------------------------------------------main detail---------------------------------------------------------------------->
	<div class="row">
		<!------------------------------------------------------------------left main detail---------------------------------------------------------------------->
		<div class="col-md-6">
			<div  class="form-group">
				<div ngf-drop ngf-select ng-model="files" class="drop-box"
					 ngf-drag-over-class="dragover" ngf-multiple="multiple" ngf-allow-dir="true"
					 ngf-accept="'.pdf,.jpg'">Drop pdfs or images here or click to upload</div>
				<div ngf-no-file-drop>File Drag/Drop is not supported for this browser</div>
				<label class="control-label">Files Name:</label>
				<ul>
					<li ng-repeat="f in files" style="font:smaller">{{f.name}}</li>
				</ul>
				<!--Upload Log:-->
				<!--<pre>{{log}}</pre>-->
			</div>
		</div>
		<!------------------------------------------------------------------right main detail---------------------------------------------------------------------->
		<div class="col-md-6">

				<fieldset>
					<div class="form-group">
						<label class="control-label">Category</label><pre>{{product.categories}}</pre>
						<div class="controls">
						<ui-select on-remove="categoryRemove($item, $model)" on-select="categorySelect($item, $model)"  class="form-control !important"  multiple ng-model="product.categories" theme="bootstrap" >
							<ui-select-match placeholder="Select Categories">{{$item.code}}</ui-select-match>
							<ui-select-choices repeat="cate in Categories | categoriesFilter: {name: $select.search, code: $select.search}">
								<div ng-bind-html="cate.code | highlight: $select.search"></div>
								<small>
									name: <span ng-bind-html="''+cate.name | highlight: $select.search"></span>
								</small>
							</ui-select-choices>
						</ui-select>
						</div>
						<!--<div class="controls">-->
							<!--<select multiple  class="form-control" ng-model="hstep" ng-options="opt for opt in options.hstep"></select>-->
						<!--</div>-->
					</div>
					<div class="form-group">
						<label class="control-label" for="name">Code</label>
						<div class="controls">
							<input type="text" data-ng-model="product.code" id="code" class="form-control" placeholder="Code" required>
						</div>
					</div>
					<div class="form-group">
						<label class="control-label" for="name">Name</label>
						<div class="controls">
							<input type="text" data-ng-model="product.name" id="name" class="form-control" placeholder="Name" required>
						</div>
					</div>
					<div class="form-group">
						<label class="control-label" for="name">Description</label>
						<div class="controls">
							<input type="text" data-ng-model="product.desc" id="desc" class="form-control" placeholder="Description" required>
						</div>
					</div>
					<div class="form-group">
						<label class="control-label" for="name" ng-bind="product.modelType"></label>
						<a class="btn btn-success btn-xs pull-right"  tooltip="Add new model" ng-click="">
							<i class="glyphicon glyphicon-th"></i> Add new model
						</a>
						<div class="controls">
							<div class="btn-toolbar" role="toolbar">
								<div ng-repeat="col in product.models | orderBy: 'order'" class="btn-group btn-group-xs" role="group">
									<label ng-click="selectModel(col.name)" ng-class="{'selected': radioModel.name == col.name}"  name="color"  class="btn color" style="background-color:{{col.value}};color:{{col.value}}" ng-model="radioModel.name" btn-radio="'{{col.name}}'">//</label>
								</div>
							</div>
						</div>
					</div>
				</fieldset>
		</div>

	</div>

	<div class="row">
		<div class="col-md-12">
			<tabset class="form-group" justified="true">
				<tab ng-repeat="pModel in product.models | orderBy: 'order'" active="pModel.active"  heading="{{pModel.name}}" select="selectModel(pModel.name)">
					<div class=" checkbox" ng-init="enable = true">
						<label>
							<input type="checkbox" ng-model="pModel.published">
							Published
						</label>
					</div>
					<div class=" checkbox" ng-init="enable = true">
						<label>
							<input type="checkbox" ng-model="pModel.enable">
							Enable on
						</label>
					</div>
					<div class="input-group">
						<input id="date" type="date" class="form-control" ng-disabled="!pModel.enable" datepicker-popup ng-model="dt" is-open="opened" min-date="minDate" max-date="'2015-07-22'" datepicker-options="dateOptions" date-disabled="disabled(date, mode)" ng-required="true" close-text="Close" />
								  <span class="input-group-btn">
									<button type="button" class="btn btn-default" ng-disabled="!pModel.enable" ng-click="open($event)"><i class="glyphicon glyphicon-calendar"></i></button>
								  </span>
					</div>
					<div class=" checkbox" ng-init="enable = false">
						<label>
							<input type="checkbox" ng-model="enable">
							Sync.
						</label>
					</div>
					<div>
						<table class="table table-striped">
							<tr>
								<td>{{pModel.optionType}}</td>
								<td>Quantity</td>
								<td>Price</td>
								<td>Supplier</td>
								<td>Stock Type</td>
							</tr>
							<tr ng-repeat="pOption in pModel.options | orderBy: 'order'">
								<td>{{pOption.value}}</td>
								<td><input type="text" data-ng-model="pOption.qty" class="form-control" placeholder="Quantity" required></td>
								<td><input type="text" data-ng-model="pOption.price" class="form-control" placeholder="Price" required></td>
								<td><select class="form-control" ng-model="pOption.supplier" ng-options="opt for opt in options.supplier"></select></td>
								<td><select class="form-control" ng-model="pOption.stockType" ng-options="opt for opt in options.stockType"></select></td>
							</tr>
						</table>

					</div>
				</tab>
			</tabset>
		</div>
	</div>

	<!-------------------------------------------------------------------------detail tabs---------------------------------------------------------------------->
	<div class="row">
		<div class="col-md-12">
			<tabset class="form-group" justified="true">
				<tab ng-repeat="tab in product.tabs | orderBy: 'order'" heading="{{tab.title}}" active="tab.active">
					<textarea ui-tinymce="tinymceOptions" ng-model="tab.content"></textarea>
				</tab>
			</tabset>
			</div>
	</div>

	<!------------------------------------------------------------------------- submit form---------------------------------------------------------------------->
	<div class="row">
		<div class="col-md-12">

				<fieldset>

					<div class="form-group">
						<input type="submit" class="btn btn-default">
						<button class="btn btn-default" ng-click="preview" >Preview</button>
					</div>
					<div data-ng-show="error" class="text-danger">
						<strong data-ng-bind="error"></strong>
					</div>

				</fieldset>

		</div>
	</div>

	</form>

</section>
