<section data-ng-controller="ProductsController">
    <div class="page-header">
        <h1>New Product</h1>
    </div>
    <div class="col-md-12">
        <form class="form-horizontal" data-ng-submit="create()" novalidate>
            <fieldset>
                <div class="form-group">
                    <label class="control-label" for="name">Name</label>
                    <div class="controls">
                        <input type="text" data-ng-model="name" id="name" class="form-control" placeholder="Name" required>
                    </div>
                </div>
				<div class="form-group">
					<label class="control-label" for="date">Date</label>
					<div class="controls">
					<p class="input-group">
					<input id="date" type="date" class="form-control" datepicker-popup ng-model="dt" is-open="opened" min-date="minDate" max-date="'2015-06-22'" datepicker-options="dateOptions" date-disabled="disabled(date, mode)" ng-required="true" close-text="Close" />
					  <span class="input-group-btn">
						<button type="button" class="btn btn-default" ng-click="open($event)"><i class="glyphicon glyphicon-calendar"></i></button>
					  </span>
					</p>
					</div>
				</div>
				<div class="form-group">
					<label class="control-label">Radio</label>
					<div class="controls">
						<pre>{{radioModel || 'null'}}</pre>
						<div class="btn-group">
							<label class="btn btn-primary" ng-model="radioModel" btn-radio="'Left'">Left</label>
							<label class="btn btn-primary" ng-model="radioModel" btn-radio="'Middle'">Middle</label>
							<label class="btn btn-primary" ng-model="radioModel" btn-radio="'Right'">Right</label>
						</div>
						<div class="btn-group">
							<label class="btn btn-success" ng-model="radioModel" btn-radio="'Left'" uncheckable>Left</label>
							<label class="btn btn-success" ng-model="radioModel" btn-radio="'Middle'" uncheckable>Middle</label>
							<label class="btn btn-success" ng-model="radioModel" btn-radio="'Right'" uncheckable>Right</label>
						</div>

						<div class="radio">
							<label>
								<input type="radio" name="optionsRadios" id="optionsRadios1" value="option1" checked>
								Option one is this and that&mdash;be sure to include why it's great
							</label>
						</div>
						<div class="radio">
							<label>
								<input type="radio" name="optionsRadios" id="optionsRadios2" value="option2">
								Option two can be something else and selecting it will deselect option one
							</label>
						</div>
						<div class="radio disabled">
							<label>
								<input type="radio" name="optionsRadios" id="optionsRadios3" value="option3" disabled>
								Option three is disabled
							</label>
						</div>

						<label class="radio-inline">
							<input type="radio" name="inlineRadioOptions" id="inlineRadio1" value="option1"> 1
						</label>
						<label class="radio-inline">
							<input type="radio" name="inlineRadioOptions" id="inlineRadio2" value="option2"> 2
						</label>
						<label class="radio-inline">
							<input type="radio" name="inlineRadioOptions" id="inlineRadio3" value="option3"> 3
						</label>
					</div>
				</div>
				<div class="form-group">
					<label class="control-label">Checkbox</label>
					<div class="controls">
						<pre>{{checkModel}}</pre>
						<div class="btn-group">
							<label class="btn btn-primary" ng-model="checkModel.left" btn-checkbox>Left</label>
							<label class="btn btn-primary" ng-model="checkModel.middle" btn-checkbox>Middle</label>
							<label class="btn btn-primary" ng-model="checkModel.right" btn-checkbox>Right</label>
						</div>

						<div class="checkbox">
							<label>
								<input type="checkbox" value="">
								Option one
							</label>
						</div>
						<div class="checkbox">
							<label>
								<input type="checkbox" value="">
								Option two
							</label>
						</div>

						<label class="checkbox-inline">
							<input type="checkbox" id="inlineCheckbox1" value="option1"> 1
						</label>
						<label class="checkbox-inline">
							<input type="checkbox" id="inlineCheckbox2" value="option2"> 2
						</label>
						<label class="checkbox-inline">
							<input type="checkbox" id="inlineCheckbox3" value="option3"> 3
						</label>

					</div>
				</div>
				<div class="form-group">
						<label class="control-label">Select</label>
						<div class="controls">
							<select class="form-control" ng-model="hstep" ng-options="opt for opt in options.hstep"></select>
						</div>
				</div>

				<div class="form-group">
					<label class="control-label">Select</label>
					<div class="controls">
						<select class="form-control" ng-model="mstep" ng-options="opt for opt in options.mstep"></select>
					</div>
				</div>

				<div  class="form-group">
					<div class="checkbox">
						<label>
							<input type="checkbox" ng-model="multiple">
							upload multiple file
						</label>
					</div>
					<label class="control-label">watching model:</label>
					<!--<div class="button" ngf-select ng-model="files" ngf-multiple="multiple">Select File</div>-->
					<button type="button" class="btn btn-primary" ngf-select ng-model="files" ngf-multiple="multiple">Select File</button>
					<label class="control-label">on file change:</label>
					<button type="button" class="btn btn-primary" ngf-select ngf-change="upload($files)" ngf-multiple="multiple">Select File</button>
					<!--<div class="button" ngf-select ngf-change="upload($files)" ngf-multiple="multiple">Select File</div>-->
					<label class="control-label">Drop File:</label>
					<div ngf-drop ngf-select ng-model="files" class="drop-box"
						 ngf-drag-over-class="dragover" ngf-multiple="multiple" ngf-allow-dir="true"
						 ngf-accept="'.pdf,.jpg'">Drop pdfs or images here or click to upload</div>
					<div ngf-no-file-drop>File Drag/Drop is not supported for this browser</div>
					<label class="control-label">Files Name:</label>
					<ul>
						<li ng-repeat="f in files" style="font:smaller">{{f.name}}</li>
					</ul>
					Upload Log:
					<pre>{{log}}</pre>
				</div>

				<tabset class="form-group" justified="true">
					<tab ng-repeat="tab in tabs" heading="{{tab.title}}" active="tab.active" disable="tab.disabled">
						{{tab.content}}
					</tab>
				</tabset>

				<div class="form-group">
					<input type="submit" class="btn btn-default">
				</div>
				<div data-ng-show="error" class="text-danger">
					<strong data-ng-bind="error"></strong>
				</div>

            </fieldset>
        </form>
    </div>
</section>
